@{
    ViewBag.Title = "ShowMenu";
}

<h2>ShowMenu</h2>
<ol>
    <li>
        <h5>@Html.ActionLink("გაყიდვები", "Sales", "ShopOperator")</h5>
    </li>

    <li>
        <h5>@Html.ActionLink("ისტორია", "History", "ShopOperator")</h5>
    </li>
</ol>